$primary-text-color: #111518;
$socondary-text-color: #b9b9b9;
$accent-color: #ff6b09;
$primery-background-color: #ffffff;
$socondary-background-color: #e5e5e5;
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
  font-size: 11px;
  line-height: 1.8;
  font-weight: 400;
  background-color: $primery-background-color;
  color: $primary-text-color;
}
a {
  background-color: transparent;
  text-decoration: none;
}
div {
  display: block;
}
img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 320px;
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 688px;
    min-width: 688px;
  }
  @media (min-width: 1314px) {
    margin: 0 auto;
    width: 1244px;
    min-width: 1244px;
  }
}
// Шапка сайта
.header {
  padding-top: 26px;
  padding-bottom: 50px;
  width: 100%;
  position: relative;
  @media (min-width: 768px) {
    padding-top: 34px;
    padding-bottom: 52px;
  }
  @media (min-width: 1314px) {
    padding-top: 36px;
    padding-bottom: 86px;
  }
}

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  @media (min-width: 768px) {
    margin-bottom: 64px;
  }
  @media (min-width: 1314px) {
    margin-bottom: 46px;
  }
}
.logo img,
.logo-modal img {
  @media (min-width: 768px) {
    width: 130px;
    height: 48px;
  }
}
.logo-modal {
}
.nav-contact {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-list {
  display: none;
  @media (min-width: 1314px) {
    width: 570px;
    list-style: none;
    margin-right: 42px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-item {
  @media (min-width: 1314px) {
    letter-spacing: 0.6px;
  }
}
.header-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: $primery-background-color;

  @media (min-width: 768px) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
  @media (min-width: 1314px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $socondary-text-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.btn-consult {
  display: none;

  &:hover,
  &:focus {
    color: $primery-background-color;
    background-color: $accent-color;
  }
  @media (min-width: 768px) {
    display: block;
    font-weight: 700;
    width: 250px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;

    color: $accent-color;
    border: 2px solid $accent-color;

    background: 0 0;
    margin-right: 45px;
  }
  @media (min-width: 1314px) {
    margin: 0;
    width: 300px;
    height: 68px;

    line-height: 68px;
  }
}
.btn-burger {
  overflow: visible;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  @media screen and (min-width: 1314px) {
    display: none;
  }
}
.backdrop {
  padding-top: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(17, 21, 24, 0.9);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 1314px) {
    display: none;
  }
}
.modal {
  margin: 0 auto;
  width: 320px;

  @media (min-width: 768px) {
    min-width: 688px;
    width: 688px;
  }
}
.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 60px;
}
.modal-menu {
  list-style: none;
  width: 238px;
  margin: 0 auto 40px;
  padding-left: 0;

  @media (min-width: 768px) {
    width: 350px;
  }
}
.modal-menu .header-item:not(:last-child) {
  margin-bottom: 18px;
}

.btn-consult-modal {
  display: block;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  text-align: center;

  width: 260px;
  height: 48px;

  color: $accent-color;
  background-color: transparent;
  border: 2px solid $accent-color;

  margin: 0 auto;

  &:hover,
  &:focus {
    color: $primery-background-color;
    background-color: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
